<h2>Playlist Page</h2>

<ul>
  {{#each songList}}
    <li>
      <h3>{{ this.title }} ({{ this.year }})</h3>
      <p>by {{ this.artist }}</p>
      <img src="{{ this.photoUrl }}" />
    </li>
  {{/each}}
</ul>

<a href="/">Back to Home</a>
